.flightSearch {
  font-family: Arial, sans-serif;
  margin: 50px 20px;

  /* Grey / 600 */
  color: #6e7491;
}

.searchBar {
  /* Flight Search */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 872px;
}
.filterOptions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 704px;
  height: 38px;
  margin: 20px 0px;

}

.selectOptions {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #6e7491;

}
.selectOptions select {
  background-color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  margin-left: -100px;
  color: #6e7491;

}
.flightDetails {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 40px;
  width: 100%;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
}

.leftColumn {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;
}

.rightColumn {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;
}
.flightList {
  box-sizing: border-box;

  width: auto;
  height: 456px;
  overflow-y: scroll;
  margin: 10px 0px;
  /* Purple Extra Light */
  border: 1px solid #e9e8fc;
  border-radius: 12px;
  padding: 10px 20px;
}

.flightList::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.flightItem {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;

  height: 72px;
  width: 100%;
  /* True White */
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  cursor: pointer;

}
.flightItem:hover ,.flightData:hover {
  background: #f5f5f5;
}

.flightData {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;
  height: 72px;
  width: 100%;
  background: #ffffff;
}
.flightItem:last-child {
  border-bottom: none;
}

.airlineLogo {
  width: 40px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}

.dataRowCombined {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 4px;
  width: 760px;
  height: 64px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.dataRowPrimary,
.dataRowSecondary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 34px;
  width: 728px;
  height: 22px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.label,
.labelRight {
  width: 156.5px;
  height: 22px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  flex: none;
  flex-grow: 1;
}

.labelRight {
  text-align: right;
  justify-content: flex-end;
}

.dataRowPrimary .label,
.dataRowPrimary .labelRight {
  color: #27273f;
}

.dataRowSecondary .label,
.dataRowSecondary .labelRight {
  color: #7c8db0;
}

.dataRowSecondary .label:nth-child(2) {
  opacity: 0;
}

.price {
  text-align: center;
}

.showAllFlights {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  width: 168px;
  height: 48px;

  /* Purple Blue */
  border: 1px solid #605dec;
  border-radius: 12px;
  margin-left: auto;
  color: #605dec;
}

.priceGrid,
.priceHistory,
.map,
.priceRating {
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 12px;
  margin: auto;

  /* Body Default */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  /* Grey / 600 */
  color: #6e7491;
}
.priceGrid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.priceHistory {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.buyButton {
  padding: 4px 8px;

  width: 84px;
  height: 26px;

  background: #5cd6c0;
  border-radius: 4px;

  color: #ffffff;
  margin: 0px 16px;
}
/*price grid*/
.priceGrid {
  margin: 10px 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 12px; /* Add rounded corners */
  padding: 0; /* Remove padding */
}
.priceRating{
  padding: 20px 12px;

}
.gridTable {
  width: 100%;
  border-collapse: separate; /* Ensure cell borders are separate */
  border-spacing: 0; /* Remove any spacing between cells */
  border-radius: 12px; /* Apply border radius to the table */
}

.gridTable th,
.gridTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd; /* Cell borders */
}

.gridTable th {
  font-weight: normal;
}

.gridTable .highlight {
  background-color: #e0e0ff; /* Light blue background for highlights */
}

.gridTable .bestPrice {
  font-weight: bold;
  color: #4a90e2;
}

.gridTable .highlightRow td {
  background-color: #e0e0ff; /* Light blue background for entire row */
}

.gridTable .highlightCol {
  background-color: #e0e0ff; /* Light blue background for entire column */
}

/* Apply rounded corners to the outer cells */
.gridTable tr:first-child th:first-child {
  border-top-left-radius: 12px;
}

.gridTable tr:first-child th:last-child {
  border-top-right-radius: 12px;
}

.gridTable tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

.gridTable tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}
/* selected flight card*/

.flightSelectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin: 32px 0px;
}

.flightCard {
  


    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;

    width: 368px;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 8px 8px 0 0;



    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;


    /* Grey / 900 */
    color: #27273F;




}
.details{

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 148px;
height: auto;
/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


}

.flightCard:last-child {
  border-bottom: none;
  border-radius: 0 0 8px 8px;
}

.airline {
 /* Airline details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 148px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

}

.details .label , .airline .label{
  color: #7c8db0;
}

.totalCost {
  text-align: center;
  width: 100%;
  padding: 10px;
  display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.totalCost p {
  margin: 5px 0;
}

.totalCost strong {
  font-size: 16px;
}

.passengerInfoBtn {

padding: 12px 20px;
gap: 8px;

width: 222px;
height: 48px;

margin-top: 20px;

/* Purple Blue */
background: #605DEC;
border-radius: 4px;
color: #ffffff;
}
.saveCloseBtn{
box-sizing: border-box;
width: 161px;
height: 48px;
padding: 10px 20px;
border: 1px solid #605DEC;
color : #605DEC;
border-radius: 4px;
margin-top: 10px;
cursor: pointer;

}
.saveCloseBtn:hover,
.passengerInfoBtn:hover {
  background-color: #2a28d8;
}



