.container {
  background-image: url("../public/worldWide.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* navbar style */
.navbar {
  background-color: white;
  padding: 8px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 2rem;
  gap: 10px;
  position: sticky;
  top: 0;

  z-index: 100;
  width: 100%;
}

/* Style for the logo */
.navbar .logo {
  font-size: 3rem;
  color: #605dec;
  font-weight: 500;
  padding: 8px 24px;
  cursor: pointer;
}
.logo:hover {
  color: aqua;
}

/* Style for the links */
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 10px;
  color: #7c8db0;
  padding: 8px 24px;
  gap: 30px;
}
.link {
  /* Body Default */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: #7c8db0;
  cursor: pointer;
}
.link:hover {
  color: #605dec;
}
.active {
  color: #605dec;
}
/*SignUp*/

.signUp {
  /* button */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  /* Purple Blue */
  background: #605dec;
  border-radius: 4px;
  color: #ffffff;
}

.signUp:hover {
  background-color: blue;

  cursor: pointer;
}

/* banar */
.banar {
  display: flex;
  flex-direction: row;
  padding: 16px 32px;
  background: #605dec;
  align-items: center;
  justify-content: center;
}

.banarContent {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  color: #f6f6fe;
  justify-content: center;
  margin: auto;
}

.banarButton {
  margin-left: auto; /* Pushes the button to the far right */
  margin-right: 20px;
}
